<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Burda Assignment</title>
</head>

<body>
    <h1>This view is rendered by Twig</h2>
    <p>
        <b>Var 1: <b>{{ var1 }}
    </p>

    <p>
        <b>Var 2: <b>{{ var2 }}
    </p>    

</body>

</html>