<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Burda Assignment</title>
</head>

<body>
    <h1>This view is rendered by Twig</h2>
    <p>
        My name is <b>{{ name }}</b> and my occupation is <b>{{ occupation }}</b>
    </p>

</body>

</html>